.row.grey.lighten-2{
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    height: 20px;
    width: 20px;
}

.col.s2.left{
    font-size: 1.2em;
    font-weight: bold;
   /*border: 1px solid #a11171;*/
    text-align: left;
}

.col.s2.right{
    /*border: 1px solid #a11171;*/
    text-align: right;
}
a{
    font-size: 1.2em;
    color: #333;
}